 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Testy arytmetyczne</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <main>
        <header>
            <h1>
                Czy umiesz liczyć?
            </h1>        

          <form action="/changepassword" method="post">
            <input type="password" name="newpassword" placeholder="Nowe hasło"><br>
            <input type="password" name="newpassword2" placeholder="Powtórz nowe hasło"><br>
            <input type="submit" value="Zmień hasło">
          </form> 
    </main>
</body>
</html>