 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Testy arytmetyczne</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <main>
        <header>
            <h1>
                Czy umiesz liczyć?
            </h1>        
            <ul>
              <% quizy.forEach(function(quiz) { %>
                  <li> <a href="quiz/<%= quiz.id %>" > <%= quiz.nazwa %> </a></li>
              <% }); %>
          </ul>
          <form action="/changepassword" method="get">
            <input type="submit" value="Zmień hasło">
          </form> 
        <form action="/logout" method="post">
            <input type="submit" value="Wyloguj">
          </form> 
    </main>
</body>
</html>

