 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Testy arytmetyczne</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <main>
        <header>
            <h1>
                Czy umiesz liczyć?
            </h1>        
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Nazwa użytkownika"><br>
            <input type="password" name="password" placeholder="Hasło"><br>
            <input type="submit" value="Zaloguj">
          </form> 
    </main>
</body>
</html>